h1 {
    background-color: aqua;
    text-align: center;
    font-size:  30px;
    color: purple;
}
p {
    color: blue;
    text-transform: lowercase;

}
.link {
    text-align: center;
    text-decoration: none;
    color: blueviolet;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial;
}
h2 {
    color: darkblue;
    background-color: darkgreen;
    font-size: 30px;
    text-align: left;
}
img {
    height: 300px;
    width: 400px;
    border-radius: 80px;
    border: 10px;
    border-color: blueviolet;
    border-style: solid;
}
ul {
    color: brown;
    background-color: chartreuse;
}
ol {
    background-color: cyan;
}
li {
    color: coral;
    line-height: 50px;
    line-gap-override: 10px;
    line-clamp: 10px;
}
footer {
    color: darkorange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
    border-radius: 10px;
}



